extends layout

block content

  h1 Author: #{author.name}
  p #{author.date_birth_edited} - #{author.date_death_edited}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Blog Posts
    
    dl
      each blogpost in author_blogposts
        dt 
          a(href=blogpost.url) #{blogpost.title}
        dd #{blogpost.summary}

      else
        p This author has no blogposts.

  hr
  p
  a(href=author.url+'/delete') Delete author