extends layout

block content
  h1 #{blogpost.title}
  
  p #[strong Author:] 
    a(href=blogpost.author.url) #{blogpost.author.name}
  p #[strong Blog:] #{blogpost.body}
  p #[strong Summary:] #{blogpost.summary}
  p #[strong Image Filename:] #{blogpost.image_filename}
  p #[strong Posted:] #{blogpost.post_date_edited}
  p #[strong Tags:] 
    each val, index in blogpost.tags
      a(href=val.url) #{val.name}
      if index < blogpost.tags.length - 1
        |, 
  p #[strong Status:] #{blogpost.status}
    hr
  p
    a(href=blogpost.url+'/delete') Delete Blog Post
  p
    a(href=blogpost.url+'/update') Update Blog Post